<div class="home-wrap">
  <h3 class="text-center mb-4">Scalio Angular Test</h3>
  <nb-card status="primary" [nbSpinner]="loading" nbSpinnerStatus="info">
    <nb-card-header>Input an id to get Post</nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="getAPI()" #form="ngForm" aria-labelledby="title">
        <div class="d-flex">
          <input nbInput fullWidth status="info" placeholder="Input an Id" [(ngModel)]="postId"
            name="postId" autoFocus />
          <button nbButton outline status="info">Send</button>
        </div>
      </form>
    </nb-card-body>
    <nb-card-footer>By Leon</nb-card-footer>
  </nb-card>
</div>
